*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
  scroll-behavior: smooth;
}
.header{
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(292.12deg, #62BADA -35.02%, #C9E7F2 78.96%);
  background-position: center;
  background-size: cover;
  position: relative;
  justify-content: space-between;
}
nav{
  display: flex;
  padding: 2% 5%;
  justify-content: space-between;
  align-items:left ;
}
nav h3{
}
.nav-links{
  padding-left: 25%;
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a{
  color: #000;
  text-decoration: none;
  font-size: 16px;
  display: flex;
}
  
.nav-button button{
  width: 137px;
  height: 52px;
  top: 38px;
  left: 1186px;  
  text-align: center;
  background: #4F46BA;
  
}

.hero{
  display: flex;
}
.hero__combo{
  margin-left: 5%;
}
.text-box{
  padding-top: 15%;
}

.text-box h2{
  width: 646px;
  height: 240px;
  top: 241px;
  left: 121px;
  font-family: Manrope;
  font-size: 60px;
  font-weight: 800;
  line-height: 80px;
  letter-spacing: -0.03em;
  text-align: left;
}
.text-box p{
  width: 510px;
  height: 60px;
  top: 503px;
  left: 121px;
  font-family: Manrope;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-align: left;
  padding-bottom: 10%;

}
.hero__button{
  margin-top: 5%;
}
.hero__button button{
  width: 162px;
  height: 60px;
  background: #3734A9;
  top: 6px;
  left: 121px;
  padding: 15px 0;
  text-align: center;
  border-radius: 47px

}
.hero__image{
  float: right;
  display: flex;
  height: 720px;
  top: 71px;
  left: 743px;
  width: 508.63861083984375px;
}
.hero__image img{
height: 740px;
}

.play__image{
  margin-left: 5%;
  width: 10%;
  width: 60px;
  height: 60px;
  top: 619px;
  left: 333px;
  border-radius: 47px

}

.hero__button{
  display: flex;
  align-items: center;
}
.hero__button-right{
  margin-left: 1rem;
  color: #000;
  text-decoration: none;
  width: 132px;
  height: 30px;
  top: 636px;
  left: 404px;
  font-family: Manrope;
  font-size: 17px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-align: left;
}
.blue_text{
  color: #000;
  display: flex;
}
.register{
  flex-basis: 20%;
  padding-top: 10%;
  width: 102px;
  height: 30px;
  top: 732px;
  left: 145px;
  font-family: Manrope;
  font-size: 17px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-align: left;
}
.service{
  padding-top: 10%;
  width: 104px;
  height: 30px;
  top: 732px;
  left: 297px;
  font-family: Manrope;
  font-size: 17px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-align: left;

}

.companies img{
  width: 100%;
  position: absolute;
  background-color: white;
  overflow: hidden;
  margin-bottom: 10%;
} 
.portfolio{
  
  background-color: #FAFBFF;
  margin-top: 15%;
  padding-left: 5%;
  width: 100%;
  left: 119px;
  font-family: Manrope;
  text-align: left;
  padding-top: 100px;
  display: flex;

}
text__test h1{

  width: 646px;
  height: 132px;
  top: 1171px;
  left: 119px;
  font-family: Manrope;
  font-size: 56px;
  font-weight: 800;
  line-height: 66px;
  letter-spacing: -0.03em;
  text-align: left;
  

}
text__test p{
  width: 449px;
  height: 58px;
  top: 1322px;
  font-size: 16px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: -0.02em;
  text-align: left;
}
.img__test{
  margin-left: 12%;
}
.box{
  background-color: #FAFBFF;
  background-size: cover;
  margin-left: 5%;
  text-align: center;
  color: #000;
  width: 100%
  padding-top: 100px;
  font-family: Manrope;
  
}
h1{
  font-size: 36px;
  font-weight: 600;
  
}
p{
  color: #000;
  font-size: 14px;
  line-height: 22px;
  padding: 10px;
}
.row{
  width: 1005;
  border: 1px solid #DBE4E9
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.course-col{
  flex-basis: 31%;
  background: #fff;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;

}

h3{
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.course-col img{
  width: 50px;
  height: 45px;
  top: 1546px;
  left: 276px;

}
.main{

  background: #FAFBFF;

}
.payment img{
  margin-left: 10%;
 width: 80%;
  width: 500px;
  height: 400px;
  top: 1972.00048828125px;
  left: 124px
}
.choose{
  display: flex;
}
.track{
  margin-left: 10%;
  width: 40%;
}
.tick_main{
  display: flex;
}

.tick__image{
  width: 30px;
  height: 36px;
}

.tick__button{
  align-items: center;
}
@media(max-width:700px){
  .row{
    flex-direction: column;
  }
}

.save__money h2{
  margin-left: 20%;
  color: #000;
  width: 439px;
  height: 120px;
  top: 2696px;
  left: 121px;
  font-family: Manrope;
  font-size: 50px;
  font-weight: 800;
  line-height: 60px;
  letter-spacing: -0.03em;
  text-align: left;

}
.save__money p{
  margin-left: 20%;
  width: 449px;
  height: 58px;
  top: 1322px;
  left: 119px;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: -0.02em;
  text-align: left;

}
.save__money img{
  margin-left: 20%;
}
.save{
  display: flex;
  justify-content: space-between;
}
.total__balance img{
  width: 589px;
  height: 685px;
  top: 2482px;
  left: 703px;
}

text__test h1{
  width: 646px;
  height: 132px;
  top: 1171px;
  left: 119px;
  font-family: Manrope;
  font-size: 56px;
  font-weight: 800;
  line-height: 66px;
  letter-spacing: -0.03em;
  text-align: left;
  

}
text__test p{
  width: 449px;
  height: 58px;
  top: 1322px;
  font-size: 16px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: -0.02em;
}

.feature__box{
  color: #000;
  width: 100%;
  background-color: #C9E7F2;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  font-family: Manrope;
}
.feature__head{
  margin-left: 10%;
  text-align: left;
  color: #000;
  width: 600px;
  height: 66px;
  top: 3409px;
  left: 119px;
  font-family: Manrope;
  font-size: 36px;
  font-weight: 800;
  line-height: 66px;
  letter-spacing: -0.03em;
  text-align: left;


  
}
.feature__paragraph{
  margin-left: 9%;
  color: #000;
  font-size: 14px;
  line-height: 22px;
  padding: 10px;
  text-align: left;
  width: 557px;
  height: 58px;
  top: 3512px;
  left: 119px;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: -0.02em;
  text-align: left;


}
.feature__row{
  margin-left: 10%;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.feature-col{
  flex-basis: 31%;
  background: #fff;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
  text-align: left
}
.feature-col h3{
  margin-left: 2%;
  text-align: left;
}
.feature-col p{
  text-align: left;
}
.box-col {
  flex-basis: 31%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.feature-col img{
  margin-left: 2.5%;
  display: flex;
  width: 55.28px;
  height: 45px;
  top: 3674px;
  left: 154px;
}
.get__box {
  text-align: center;
  color: #000;
  flex-basis: 40%;
  background: #DBE4E9;
  background: #fff;
  border-radius: 10px;
  padding: 5px 2px;
  text-align: left;
  margin-bottom: 16%;
  margin-right: 10%;
}
.get__box h3{
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
}
@media(max-width:700px){
  .row{
    flex-direction: column;
  }
}



.testimonials{
  background-color: #fff;
  width: 100%
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.testimonial__text{
  margin: 10%;
  color: black;
  text-align: left;

}
.testimonial__text h2{
  width: 426px;
  height: 66px;
  top: 4246px;
  left: 119px;
  font-family: Manrope;
  font-size: 71px;
  font-weight: 800;
  line-height: 66px;
  letter-spacing: -0.03em;
  text-align: left;
}
.testimonial__text p{
  width: 570px;
  height: 58px;
  top: 4349px;
  left: 119px;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: -0.02em;
  text-align: left;

}

.test__row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.test-col{
  display: flex;
  margin-left: 10%;
  flex-basis: 45%;
  background: #DBE4E9;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;

}
.testimonial__image{
  height: 20%px;
  width: 20%px;
}
.test-column{
  display: flex;
  margin-left: 10%;
  flex-basis: 45%;
  background: #DBE4E9;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 10px 7px;
  box-sizing: border-box;
  transition: 0.5s;

}
.testi__image{
  height: 20%px;
  width: 20%px;
}
.testimonial_letter p{
  text-align: left;
}

@media(max-width:700px){
  .row{
    flex-direction: column;
  }
}
.blue__section hr{
  color: #000;
}
.blue__section{
  padding-top: 3%;
  height:150px ;
  color: white;
  background-color: #3734A9;
  display: flex;
  justify-content: space-between;
}
.blue__section p{
  text-align: center;
  color: #fff;
}
.checked {
  color: orange;
}


.blogs{
  margin-left: 5%;
  text-align: left;
  font-family: Manrope;
  left: 119px;
}
.blogs h2{
  margin-left: 5%;
  margin-top: 10%;
  width: 435px;
  color: #000;
  height: 66px;
  top: 5434px;
  font-size: 71px;
  font-weight: 800;
  line-height: 66px;
  letter-spacing: -0.03em;
  text-align: left;
}
.blogs__main{
  margin-top: 5%;
  width: 1167px;
  height: 285px;
  top: 5572px;
  left: 123px;
  box-sizing: border-box;
  border-color: #000;
  display: flex;
  justify-content: space-between;
  padding-right: 10%;

}
.blogs__text strong{
  color: #000;
  width: 146px;
  height: 36px;
  top: 5606px;
  left: 151px;
  font-size: 16px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.07em;
  text-align: left;
}
.blogs__text h3{
  color: black;
  text-align: left;
  width: 524px;
  height: 72px;
  top: 5648px;
  left: 151px;
  font-family: Manrope;
  font-size: 29px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.02em;
  margin-bottom: 7%;
}
.blogs__text a{
  color: #000;
  width: 81px;
  height: 16px;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
}
.blogs__image{
  margin-bottom: 10%;
  width: 380px;
  height: 280px
  top: 5572px
  left: 823px
}

/* section -9 */


.bestpractices__box{
  margin-left: 10%;
  text-align: center;
  padding-top: 100px;
  width: 1203px;
  height: 436px;
  top: 5886px;
  left: 120px

}
.practices__row{
  display: flex;
  justify-content: space-between;
  width: 1203px;
  height: 436px;
  top: 5886px;
  left: 120px

}
.practices-col{
  flex-basis: 31%;
  background: #DBE4E9;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
  width: 300px;
  height: 360px;
  top: 5886px;
  left: 120px


}

.practices-col h4{
  width: 310px;
  height: 108px;
  top: 5954px;
  left: 152px;
  font-family: Manrope;
  font-size: 29px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.02em;
  text-align: left;
    
}
.practices-col strong{
  width: 146px;
  height: 36px;
  top: 5911px;
  left: 152px;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.07em;
  text-align: left;
}

.practices-col img{
  margin-top: 10%;
  width: 390px;
  height: 202px;
  top: 6120px;
  left: 120px;
  

}
