*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
  scroll-behavior: smooth;
  ;
}

body{
}
img {
  max-width: 100%;
  height: auto;
  padding: 0;
}
.section{
  background: linear-gradient(292.12deg, #62BADA -35.02%, #C9E7F2 78.96%);

  height: 800px;
  max-width: 1400px;
  margin: 0 auto;
}
.container {
  padding: 0 6rem;
  display: flex;
  justify-content: space-between;
}
.hero__image{
  /* width: 50%; */
  padding: 0;

}
.navbar{
  width: 85%;
  margin: auto;
  padding: 35 px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}
.navbar ul li a{
  color: #000;
}
.content{
 width: 100%;
 position: absolute;
 top: 30%;
 transform: translateY();
 text-align: left;
 left: 121px;

}
.hero h1{
  width: 646px;
  height: 240px;
  top: 241px;
  left: 121px;
  font-family: Manrope;
  font-size: 60px;
  font-weight: 800;
  line-height: 80px;
  letter-spacing: -0.03em;
  text-align: left;

}
.hero p{
  width: 510px
  height: 60px
  top: 503px
  left: 121px
  font-family: Manrope;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-align: left;
}
.image{
  max-width: 95%;
  width: 406px;
  height: 200px;
  height: auto;
  float: right;
  display: flex;

}
button{
  width: 132PX;
  height: 60px;
  background-color: blueviolet;
  top: 619px;
  left: 121px;
  padding: 15px 0;
  text-align: center;
  margin: 15px 8px;
  border-radius: 25px;
}

.play__image{
  width: 10%;
}

.hero__button{
  display: flex;
  align-items: center;
}
.hero__button-right{
  margin-left: 1rem;
}
@media(max-width:700px){
  .row{
    flex-direction: column;
  }
}

/* .img{
  width: 100%;
  position: absolute;
  background-color: white;
  overflow: hidden;
} */
.portfolio{
  width: 80%;
  left: 119px;
  font-family: Manrope;
  margin: auto;
  text-align: left;
  padding-top: 100px;
  display: flex;

}
text__test h1{
  width: 646px;
  height: 132px;
  top: 1171px;
  left: 119px;
  font-family: Manrope;
  font-size: 56px;
  font-weight: 800;
  line-height: 66px;
  letter-spacing: -0.03em;
  text-align: left;
  

}
text__test p{
  width: 449px;
  height: 58px;
  top: 1322px;
  font-size: 16px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: -0.02em;
}
.img__test{
  margin-left: 12%;
}
.box{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
h1{
  font-size: 36px;
  font-weight: 600;
  
}
p{
  color: #000;
  font-size: 14px;
  line-height: 22px;
  padding: 10px;
}
.row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.course-col{
  flex-basis: 31%;
  background: #DBE4E9;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;

}

h3{
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

@media(max-width:700px){
  .row{
    flex-direction: column;
  }
}


.course-col img{
  width: 50px;
  height: 45px;
  top: 1546px;
  left: 276px;

}
.main{

  background: #FAFBFF;

}
.payment img{
  margin-left: 20%;
 width: 80%;
  width: 500px;
  height: 400px;
  top: 1972.00048828125px;
  left: 124px
}
.choose{
  display: flex;
}
.track{
  margin-left: 10%;
  width: 40%;
}
.tick_main{
  display: flex;
}

.tick__image{
  width: 30px;
  height: 36px;
}

.tick__button{
  align-items: center;
}
@media(max-width:700px){
  .row{
    flex-direction: column;
  }
}

.save__money h2{
  margin-left: 20%;
  color: #000;
  width: 439px;
  height: 120px;
  top: 2696px;
  left: 121px;
  font-family: Manrope;
  font-size: 50px;
  font-weight: 800;
  line-height: 60px;
  letter-spacing: -0.03em;
  text-align: left;

}
.save__money p{
  margin-left: 20%;
  width: 449px;
  height: 58px;
  top: 1322px;
  left: 119px;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: -0.02em;
  text-align: left;

}
.save__money img{
  margin-left: 20%;
}
.save{
  display: flex;
  justify-content: space-between;
}
.total__balance img{
  width: 589px;
  height: 685px;
  top: 2482px;
  left: 703px;
}

text__test h1{
  width: 646px;
  height: 132px;
  top: 1171px;
  left: 119px;
  font-family: Manrope;
  font-size: 56px;
  font-weight: 800;
  line-height: 66px;
  letter-spacing: -0.03em;
  text-align: left;
  

}
text__test p{
  width: 449px;
  height: 58px;
  top: 1322px;
  font-size: 16px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: -0.02em;
}

.feature__box{
  color: #000;
  width: 100%;
  background-color: #C9E7F2;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  font-family: Manrope;
}
.feature__head{
  margin-left: 10%;
  text-align: left;
  color: #000;
  width: 600px;
  height: 66px;
  top: 3409px;
  left: 119px;
  font-family: Manrope;
  font-size: 36px;
  font-weight: 800;
  line-height: 66px;
  letter-spacing: -0.03em;
  text-align: left;


  
}
.feature__paragraph{
  margin-left: 9%;
  color: #000;
  font-size: 14px;
  line-height: 22px;
  padding: 10px;
  text-align: left;
  width: 557px;
  height: 58px;
  top: 3512px;
  left: 119px;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: -0.02em;
  text-align: left;


}
.feature__row{
  margin-left: 10%;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.feature-col{
  flex-basis: 31%;
  background: #fff;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
  text-align: left
}
.feature-col h3{
  margin-left: 2%;
  text-align: left;
}
.feature-col p{
  text-align: left;
}
.box-col {
  flex-basis: 31%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.feature-col img{
  margin-left: 2.5%;
  display: flex;
  width: 55.28px;
  height: 45px;
  top: 3674px;
  left: 154px;
}
.get__box {
  text-align: center;
  color: #000;
  flex-basis: 40%;
  background: #DBE4E9;
  background: #fff;
  border-radius: 10px;
  padding: 5px 2px;
  text-align: left;
  margin-bottom: 16%;
  margin-right: 10%;
}
.get__box h3{
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
}
@media(max-width:700px){
  .row{
    flex-direction: column;
  }
}



.testimonials{
  background-color: #fff;
  width: 100%
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.testimonial__text{
  margin: 10%;
  color: black;
  text-align: left;

}
.testimonial__text h2{
  width: 426px;
  height: 66px;
  top: 4246px;
  left: 119px;
  font-family: Manrope;
  font-size: 71px;
  font-weight: 800;
  line-height: 66px;
  letter-spacing: -0.03em;
  text-align: left;
}
.testimonial__text p{
  width: 570px;
  height: 58px;
  top: 4349px;
  left: 119px;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: -0.02em;
  text-align: left;

}

.test__row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.test-col{
  display: flex;
  margin-left: 10%;
  flex-basis: 45%;
  background: #DBE4E9;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;

}
.testimonial__image{
  height: 20%px;
  width: 20%px;
}
.test-column{
  display: flex;
  margin-left: 10%;
  flex-basis: 45%;
  background: #DBE4E9;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 10px 7px;
  box-sizing: border-box;
  transition: 0.5s;

}
.testi__image{
  height: 20%px;
  width: 20%px;
}
.testimonial_letter p{
  text-align: left;
}

@media(max-width:700px){
  .row{
    flex-direction: column;
  }
}
.blue__section hr{
  color: #000;
}
.blue__section{
  padding-top: 3%;
  height:150px ;
  color: white;
  background-color: #3734A9;
  display: flex;
  justify-content: space-between;
}
.blue__section p{
  text-align: center;
  color: #fff;
}
.checked {
  color: orange;
}

